<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WsHttpBinding2"/>
                <binding name="WsHttpBinding11"/>
                <binding name="WsHttpBinding21"/>
                <binding name="WsHttpBinding3"/>
                <binding name="WsHttpBinding4"/>
                <binding name="WsHttpBinding5"/>
                <binding name="WsHttpBinding6"/>
                <binding name="WsHttpBinding7"/>
                <binding name="WsHttpBinding8"/>
                <binding name="WsHttpBinding9"/>
                <binding name="WsHttpBinding10"/>
                <binding name="WsHttpBinding111"/>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://k2.denallix.com:8888/SmartObjectServices/wcf/Workflow%20Reports/Workflow%20General" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding2" contract="WorkflowGeneralReport_WCFService.Process_InstanceSvc" name="WsHttpBinding2">
                <identity>
                    <userPrincipalName value="K2Service@denallix.com"/>
                </identity>
            </endpoint>
            <endpoint address="http://k2.denallix.com:8888/SmartObjectServices/wcf/Workflow%20Reports/Workflow%20General" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding11" contract="WorkflowGeneralReport_WCFService.Activity_InstanceSvc" name="WsHttpBinding11">
                <identity>
                    <userPrincipalName value="K2Service@denallix.com"/>
                </identity>
            </endpoint>
            <endpoint address="http://k2.denallix.com:8888/SmartObjectServices/wcf/Workflow%20Reports/Workflow%20General" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding21" contract="WorkflowGeneralReport_WCFService.Event_InstanceSvc" name="WsHttpBinding21">
                <identity>
                    <userPrincipalName value="K2Service@denallix.com"/>
                </identity>
            </endpoint>
            <endpoint address="http://k2.denallix.com:8888/SmartObjectServices/wcf/Workflow%20Reports/Workflow%20General" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding3" contract="WorkflowGeneralReport_WCFService.Process_OverviewSvc" name="WsHttpBinding3">
                <identity>
                    <userPrincipalName value="K2Service@denallix.com"/>
                </identity>
            </endpoint>
            <endpoint address="http://k2.denallix.com:8888/SmartObjectServices/wcf/Workflow%20Reports/Workflow%20General" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding4" contract="WorkflowGeneralReport_WCFService.Activity_DataSvc" name="WsHttpBinding4">
                <identity>
                    <userPrincipalName value="K2Service@denallix.com"/>
                </identity>
            </endpoint>
            <endpoint address="http://k2.denallix.com:8888/SmartObjectServices/wcf/Workflow%20Reports/Workflow%20General" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding5" contract="WorkflowGeneralReport_WCFService.Process_DataSvc" name="WsHttpBinding5">
                <identity>
                    <userPrincipalName value="K2Service@denallix.com"/>
                </identity>
            </endpoint>
            <endpoint address="http://k2.denallix.com:8888/SmartObjectServices/wcf/Workflow%20Reports/Workflow%20General" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding6" contract="WorkflowGeneralReport_WCFService.Process_DefinitionSvc" name="WsHttpBinding6">
                <identity>
                    <userPrincipalName value="K2Service@denallix.com"/>
                </identity>
            </endpoint>
            <endpoint address="http://k2.denallix.com:8888/SmartObjectServices/wcf/Workflow%20Reports/Workflow%20General" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding7" contract="WorkflowGeneralReport_WCFService.Process_XMLSvc" name="WsHttpBinding7">
                <identity>
                    <userPrincipalName value="K2Service@denallix.com"/>
                </identity>
            </endpoint>
            <endpoint address="http://k2.denallix.com:8888/SmartObjectServices/wcf/Workflow%20Reports/Workflow%20General" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding8" contract="WorkflowGeneralReport_WCFService.Activity_XMLSvc" name="WsHttpBinding8">
                <identity>
                    <userPrincipalName value="K2Service@denallix.com"/>
                </identity>
            </endpoint>
            <endpoint address="http://k2.denallix.com:8888/SmartObjectServices/wcf/Workflow%20Reports/Workflow%20General" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding9" contract="WorkflowGeneralReport_WCFService.Activity_Slot_DataSvc" name="WsHttpBinding9">
                <identity>
                    <userPrincipalName value="K2Service@denallix.com"/>
                </identity>
            </endpoint>
            <endpoint address="http://k2.denallix.com:8888/SmartObjectServices/wcf/Workflow%20Reports/Workflow%20General" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding10" contract="WorkflowGeneralReport_WCFService.Activity_Slot_XMLSvc" name="WsHttpBinding10">
                <identity>
                    <userPrincipalName value="K2Service@denallix.com"/>
                </identity>
            </endpoint>
            <endpoint address="http://k2.denallix.com:8888/SmartObjectServices/wcf/Workflow%20Reports/Workflow%20General" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding111" contract="WorkflowGeneralReport_WCFService.Activity_Instance_DestinationSvc" name="WsHttpBinding111">
                <identity>
                    <userPrincipalName value="K2Service@denallix.com"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
